# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
.project
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

secrets.tar

.env.prod
.env.dev

.flutter-plugins-dependencies

**/*.g.dart
