<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067682648687-u6todgc97ehfskg1hlb3oar4uj6ikrk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067682648687-u6todgc97ehfskg1hlb3oar4uj6ikrk6</string>
	<key>API_KEY</key>
	<string>AIzaSyAO0rPTgMTdsNYbm2B71BvMi3W43un90kM</string>
	<key>GCM_SENDER_ID</key>
	<string>1067682648687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.ahnheejong.galpi</string>
	<key>PROJECT_ID</key>
	<string>galpi-f7dd7</string>
	<key>STORAGE_BUCKET</key>
	<string>galpi-f7dd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067682648687:ios:60a3bfa5b1ed55739e739a</string>
	<key>DATABASE_URL</key>
	<string>https://galpi-f7dd7.firebaseio.com</string>
</dict>
</plist>